<head>
  <meta charset="utf-8" />
  <meta name="author" content="Psimerion ry">
  <meta name="description" content="A website of Psimerion ry.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>psimerion.com</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5shiv' %>
  <%= javascript_include_tag 'respond' %>
  <![endif]-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>