%head
  %meta{charset: 'utf-8'}/
  %meta{content: 'Mauno Vähä', name: 'author'}/
  %meta{content: 'A website of Psimerion ry.', name: 'description'}/
  %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
  %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
  %meta{content: 'yes', name: 'apple-mobile-web-app-capable'}/
  %title psimerion.com
  %link{href: '//fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css'}/
  = csrf_meta_tags
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  /[if lt IE 9]
    = javascript_include_tag 'html5shiv'
    = javascript_include_tag 'respond'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'